/* Global Styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto; /* Centers the content */
}

h1,
h2,
h3,
h4 {
  margin: s 0;
}

p {
  margin: 0;
}

/* Header */

.navbar-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.875rem;
}

#logo a {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: var(
    --Component-colors-Utility-Blue-utility-blue-700,
    rgba(23, 92, 211, 1)
  );
}

#navbar {
  display: flex;
  width: 25.375rem;
  height: 1.5rem;
  gap: var(--spacing-4xl);
  opacity: 1;
}

#navbar ul {
  display: flex;
  gap: 1.25rem;
}

#navbar ul li a {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: left;
  color: var(
    --Component-colors-Components-Buttons-Tertiary-button-tertiary-fg,
    rgba(71, 84, 103, 1)
  );
}

#account-cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 8.125rem;
  height: 3.5rem;
  gap: 1.4rem;
}

#account {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: left;
  color: rgba(71, 84, 103, 1);
}

/* Hero Section */

.hero-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 0 0;
}

.seminar-info {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.3125rem 0.625rem;
  border: 2px solid #ddd;
  border-radius: 10px;
  margin-top: 0rem;
}

.seminar-link {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 0 0.625rem;
}

.seminar-info span a {
  color: #007bff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  text-align: center;
}

.seminar-info span a:hover {
  text-decoration: underline;
}

.trading-title {
  margin-bottom: 2rem;
}

.trading-title h1 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 4.5rem;
  text-align: center;
}

.trading-title p {
  width: 48rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  text-align: center;
}

.date-location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 1024px;
  height: auto;
}

.date-location img {
  justify-content: center;
  align-items: center;
  background-color: #f0f4f8;
  padding: 0.6rem;
  border-radius: 50%;
}

.date-location p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.875rem;
  text-align: center;
}

.cta-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.btn-primary-trading {
  display: inline-block;
  padding: 0.85rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid rgba(208, 213, 221, 1);
  border-radius: 0.375rem;
  text-align: center;
  text-decoration: none;
}

.btn-secondary {
  display: inline-block;
  padding: 0.85rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 0.375rem;
  text-align: center;
  text-decoration: none;
}

.btn-secondary:hover,
.btn-primary:hover {
  opacity: 0.8;
}

.hero-image {
  margin-top: 5rem;
  width: 76rem;
  height: auto;
}

/* Cristian Sima Section */
.cristian-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  background-color: rgba(249, 250, 251, 1);
}

.cristian-position .text-content {
  width: 36rem;
  height: 24.125rem;
  gap: 2.5rem;
  padding-left: 7rem;
}

.cristian-position .image-content {
  width: 36rem;
  height: 31rem;
  padding-right: 7rem;
}

.cristian-position h2 {
  font-size: 2.1rem;
}

.text-content p:nth-of-type(2) {
  margin-top: 1.5rem;
}

.cristian-position p {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: left;
}

/* Course Content Section */
.course-content-position {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin: 5rem 0;
}

.course-content-position h2 {
  font-size: 2rem;
  font-weight: 700;
}

.course-intro {
  width: 25%;
  margin-left: 6rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

/*  */
.course-benefits {
  list-style: none;
  width: 50%;
  margin-right: 6rem;
}

.course-benefits li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;

  font-size: 1.1rem;
  line-height: 1.5rem;
}

.course-benefits li::before {
  content: url("svg/check.svg");
  margin-right: 0.75rem;
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}

.Course-Participants-Image img {
  width: 100%;
  height: auto;
}

/* Reservation Section */
.reservation-position {
  padding-bottom: 7rem;
  padding-left: 6rem;
  padding-top: 5rem;
  background-color: #f9fafb;
}
.title-reservation {
  display: flex;
  flex-direction: column;
  width: 52%;
  margin-left: 1rem;
}

.title-reservation h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.title-reservation p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #6c757d;
  margin-bottom: 1rem;
}

.cancel-link {
  color: #007bff;
  text-decoration: underline;
}

.pricing-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem 0;
  margin-right: 6rem;
}

.pricing-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 0.875rem;
  width: 22rem;
  height: 32.125rem;
  text-align: center;
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.1);
}

.pricing-card h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: rgba(0, 78, 235, 1);
}

.pricing-card p:first-of-type {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: rgba(0, 78, 235, 1);
}

.pricing-card p:nth-of-type(2) {
  font-size: 3.1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.pricing-card p:nth-of-type(3) {
  font-size: 1rem;
  line-height: 1.7rem;
  color: #6c757d;
  margin-bottom: 1.5rem;
}
.pricing-card ul {
  list-style: none;
  padding: 1rem;
  margin: 0 0 1rem 0;
  text-align: left;
}

.pricing-card ul li {
  font-size: 1rem;
  line-height: 1.7rem;
  color: #6c757d;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.pricing-card ul li::before {
  content: url("svg/Check-icon.svg");
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.pricing-card .btn-primary {
  background-color: #007bff;
  color: #fff;
  width: 80%;
  padding: 1rem 1rem;
  border-radius: 0.375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
}

.pricing-card .btn-primary:hover {
  opacity: 0.8;
}

/* Notification Subscription Section */
.notification-subscription-position {
  text-align: center;
  margin: 10rem 0;
}

.notification-subscription-position h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.notification-subscription-position p {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #6c757d;
}

#notification-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

/* Gruparea câmpurilor text pentru a le alinia corect */
.form-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

#notification-form input[type="text"],
#notification-form input[type="email"] {
  width: 10rem;
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  border: 1px solid #ddd;
  font-size: 1rem;
}

/* Stilizarea grupului de checkbox */
.checkbox-group {
  display: flex;
  align-items: center;
  margin-right: 4rem;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: #6c757d;
}

.checkbox-group input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

/* Buton trimite */
.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 0.75rem 5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}

.btn-primary:hover {
  opacity: 0.9;
}

/* Footer Section */
#footer {
  background-color: #f8f9fa;
  padding: 3rem 0;
  border-top: 1px solid #e5e5e5;
}

.footer-position {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-items: start;
}

.footer-dependice {
  display: flex;
  flex-direction: row;
  height: 20rem;
}
.footer-column {
  flex: 1;
}

.company-info {
  margin-left: 6rem;
}

.company-info h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #007bff;
}

.company-info p {
  font-size: 1.1rem;
  width: 21rem;
  margin-bottom: 1.5rem;
  color: #6c757d;
}

.anpc-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: auto;
}

.anpc-logo {
  margin-right: 0.5rem;
}

.footer-nav {
  margin-left: 9rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.75rem;
  width: 20rem;
  height: 7rem;
}

.footer-nav a {
  color: #007bff;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.new-tag {
  background-color: #e0f4ff;
  color: #007bff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  font-size: 0.75rem;
}

.social-icons {
  margin-left: 10rem;
}

.social-icons h4 {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1rem;
  margin-left: 10rem;
}

.social-icons-list {
  margin-left: 8rem;
}

.social-icons-list a {
  margin-right: 1rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  border-top: 1px solid #e5e5e5;
  padding-top: 1.5rem;
  margin-left: 6rem;
  margin-right: 6rem;
  width: 85%;
}

.legal-links {
  display: flex;
  gap: 1rem;
}

.legal-links a {
  font-size: 0.875rem;
  color: #6c757d;
  text-decoration: none;
}

.footer-bottom p {
  font-size: 0.875rem;
  color: #6c757d;
}
